body {
  background-color: #ffb3de;
}

#container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1068px;
  height: 576px;
  background-color: white;
  border-radius: 25px;
  box-shadow: 0 0 5px #296d98, 2px 2px 5px rgba(0, 0, 0, 0.1);
}

#blakeWarner {
  margin-left: 440px;
  font-size: 60px;
  color: #ffb3de;
}
#aboutMeWrapper {
  width: 400px;
  font-size: large;
  margin-left: 320px;
}

#nav {
  position: absolute;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  margin-left: 200px;
  margin-top: 0;
  position: absolute;
}
li {
  float: left;
}
li a {
  display: block;
  padding: 8px;
  text-decoration: none;
  color: black;
  font-size: large;
  margin-top: 30px;
}
#room {
  height: 60px;
  width: 60px;
  border-radius: 15px;
  display: inline-block;
}
#logoWrapper {
  margin: 0px;
  display: inline-block;
  margin-top: 20px;
  margin-left: 60px;
}
